

.pl-list {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 32px; 
  justify-items: center; 
  align-items: start;
  margin: 0 auto;
  max-width: 1200px; 
}

@media (max-width: 900px) {
  .pl-list {
    grid-template-columns: 1fr; 
  }
}



.pl-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 22px 16px 23px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  height: 100%; 
  width: 180px;

} 

.pl-card:hover{
  transform: scale(1.04);
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
  cursor: pointer;
}

.pl-poster {
  position: relative;
  height: 180px;
  width: 180px;
  overflow: hidden;
}

.pl-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /
}

@media (max-width: 768px) {
  .pl-poster {
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .pl-poster {
    height: 400px;
  }
}



.pl-title{
    margin-top: 0px;
    color: #fff; 
    font-family:'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.pl-songs {
  display: flex;
  justify-content: center;    
  align-items: center;
  font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #b3b3b3;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 100%;
  gap: 10em;                 
}

.folder-style {
  width: 20px;
  height: 20px;
}

.song-count {
  color: #b3b3b3;
  font-weight: 400;
}
